DB_HOST=agenda-citas-db.ce52g4cuedb1.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=agenda_citas
DB_USER=admin
DB_PASSWORD=CHANGE_ME
DB_SSL=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=ignacioreynarayo25@gmail.com
SMTP_PASS=CHANGE_ME
SMTP_FROM=ignacioreynarayo25@gmail.com
FULL_CLASS_EMAIL_TO=21307007@utcgg.edu.mx

